@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
}

/*-----------------------------------  HEADER -------------------------------------------*/

.header {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  border-bottom: solid 1px white;
  box-shadow: 0px 6px 10px rgba(250, 249, 249, 0.3);
}

.header-top {
  display: flex;
  justify-content: center;
}

.logo {
  width: 80px;
  height: 80px;
}

.header-bottom .nav {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

/*-----------------------------------  SECTION 1 -------------------------------------------*/

.title-section-2 {
  color: white;
  font-size: 70px;
  letter-spacing: 0.36px;
  font-weight: 400;
  margin-top: 40px;
}

.ligne {
  height: 1vh;
  width: 15%;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.section-2 {
  padding: 0 55px;
}

.para-section-2 {
  color: white;
  margin-top: 40px;
  font-size: 18px;
}

/*-----------------------------------  SECTION 3 -------------------------------------------*/

.section-3 {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.section-3 .section-3-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-3-bottom {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px;
}

.section-3-top .title-section-3 {
  color: white;
}

.card {
  width: 350px;
  height: 254px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
  background-color: black;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(211, 211, 211, 0.082);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.034);
  backdrop-filter: blur(100px);
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#b0e633, #53ef7d);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle1 {
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6a00, #ee0979);
}

.circle2 {
  background: #ff00cc;
  background: -webkit-linear-gradient(to right, #333399, #ff00cc);
  background: linear-gradient(to right, #333399, #ff00cc);
}

.circle3 {
  background: #16bffd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cb3066,
    #16bffd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cb3066,
    #16bffd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.circle4 {
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3498db,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3498db,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.circle5 {
  background: #ff0084; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #33001b,
    #ff0084
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #33001b,
    #ff0084
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}

.card-inner .title-objectif {
  color: white;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0px;
}

.card-inner .para-objectif {
  color: white;
  text-align: center;
  font-size: 16px;
}

.ligne1 {
  background: #e6dada; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #274046,
    #e6dada
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #274046, #e6dada);
}

.card-section-4 {
  position: relative;
  width: 290px;
  height: 290px;
  background-color: #000;
  border-radius: 8px;
  cursor: pointer;
}

.team {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-section-4::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-section-4::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card-section-4 p:not(.heading) {
  font-size: 14px;
}

.card-section-4 p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card-section-4:hover::after {
  filter: blur(30px);
}

.card-section-4:hover::before {
  transform: rotate(-90deg);
}

.section-4 {
  margin-top: 100px;
}

.section-4-top .title-section-4 {
  color: white;
}

.section-4-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.section-4-bottom {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 85px;
  flex-wrap: wrap;
  padding: 0 25px;
}

.section-5 {
  width: 100%;
  margin-top: 100px;
}

.testimonial-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background: rgba(211, 211, 211, 0.082);
  backdrop-filter: blur(100px);
}

.testimonial-container {
  width: 60%;
  overflow: hidden;
  position: relative;
}

.testimonial-slide {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.testimonial-slide .img-testimonial {
  background-image: url(../Assets/images/team1.svg);
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.testimonial-slide .img-1 {
  background-image: url(../Assets/images/team4.svg);
}

.testimonial-slide .img-2 {
  background-image: url(../Assets/images/team2.svg);
}

.testimonial-slide.active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.testimonial-slide .testimonial-desc {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.testimonial-slide .testimonial-desc .social {
  display: flex;
  gap: 20px;
}

.testimonial-slide .testimonial-desc .social div {
  font-size: 30px;
}

.section-5-top .title-section-5 {
  color: white;
}

.section-5-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 90px;
}

.section-6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid white;
  margin-top: 30px;
  padding: 15px 30px;
}

.section-6 p {
  color: white;
}

.reseau {
  display: flex;
  gap: 10px;
}

.icone {
  color: white;
  width: 35px;
  font-size: 25px;
  border-radius: 50%;
  padding: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  border: solid 1px white;
  cursor: pointer;
}

.icone:hover {
  background-color: white;
}

.icone:hover .face {
  color: blue;
}

.icone:hover .twi {
  color: rgb(64, 206, 250);
}

.icone:hover .linkdi {
  color: blue;
}

.icone:hover .you {
  color: red;
}
